<!--MODAL CREATE CONTRACT DETAIL-->
<div class="modal fade right" style="background: rgb(0 255 170 / 34%)" id="createModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-keyboard="false"
     data-backdrop="static" th:fragment="modal-create">
    <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
        <div class="modal-content-full-width modal-content ">
            <div class=" modal-header-full-width  modal-header text-center">
                <h5 class="modal-title w-100" id="exampleModalPreviewLabel"
                    style="font-size: 50px;font-family: 'Varela Round';">
                    Create new Contract Detail
                </h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <form action="/contractDetail/list" id="createForm">
                    <div class="form-group">
                        <label for="attachServiceCreate">Choose new attach service:</label>
                        <select id="attachServiceCreate" class="form-control">
                            <option th:each="row : ${attachServiceList}" th:value="${row.attachServiceId}"
                                    th:text="${row.attachServiceName}">
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="quantityCreate">Quantity:</label>
                        <input type="text" class="form-control" id="quantityCreate"
                               placeholder="Type new quantity here">
                        <small class="form-text text-warning" id="quantityError"></small>
                    </div>

                    <div class="form-group">
                        <label for="contractCreate">Choose new contract:</label>
                        <select id="contractCreate"
                                class="form-control">
                            <option th:each="row : ${contractList}" th:value="${row.contractId}"
                                    th:text="|${row.contractId} - ${row.customer.customerName} - ${row.contractStartDate} - ${row.contractEndDate}|">
                            </option>
                        </select>
                    </div>

                    <input type="hidden" id="messageSuccess" name="messageCreate">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" style="
                              min-width: 250px;
                              color: #fcda2e;
                              background: #403838 !important;
                              margin-top: 20px;
                              border: none;"
                                id="btn-create">
                            <i class="fa fa-paper-plane"></i>
                            Send
                        </button>
                    </div>
                </form>
                <br>
                <h1 id="w3s" class="text-warning" style="text-align: center; font-family: cursive;">
                    ${messageCreate}
                </h1>
                <br>
                <a href="/" class="backHome" style="font-size: 42px;
              font-family: cursive;
              margin: 0 0 50px;
              text-align: center;"><h1>Back Home</h1></a>
            </div>
        </div>
    </div>
</div>

<!--MODAL DETAIL CONTRACT DETAIL-->
<div class="modal fade right" style="background: rgb(0 255 170 / 34%)" id="detailModal-contractDetail" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-keyboard="false"
     data-backdrop="static" th:fragment="modal-detail">
    <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
        <div class="modal-content-full-width modal-content ">
            <div class=" modal-header-full-width  modal-header text-center">
                <h5 class="modal-title w-100"
                    style="font-size: 50px;font-family: 'Varela Round';">
                    View Contract detail
                </h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">

                <div class="form-group">
                        <label for="contractDetailId">ID:</label>
                        <input type="text" class="form-control" id="contractDetailId" readonly>
                </div>

                <div class="form-group">
                    <label for="attachService">Attach service:</label>
                    <input type="text" class="form-control" id="attachService" readonly>
                </div>

                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="text" class="form-control" id="quantity" readonly>
                </div>

                <div class="form-group">
                    <label for="contractId">Choose new contract:</label>
                    <select id="contractId"
                            class="form-control" readonly>
                        <option th:each="row : ${contractList}" th:value="${row.contractId}"
                                th:text="${row.contractId}">
                        </option>
                    </select>
                </div>

                <input type="hidden" id="messageSuccess" name="messageUpdate">
                <div class="text-center">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        Close
                    </button>
                </div>
                <br>
                <h1 id="w3s" class="text-warning" style="text-align: center; font-family: cursive;">
                    ${message}
                </h1>

            </div>
        </div>
    </div>
</div>

<!--MODAL ATTACH SERVICE DETAIL-->
<div class="modal fade right" style="background: rgb(0 255 170 / 34%)" id="detailModal-attachService" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-keyboard="false"
     data-backdrop="static" th:fragment="modal-detail-attach-service">
    <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
        <div class="modal-content-full-width modal-content ">
            <div class=" modal-header-full-width  modal-header text-center">
                <h5 class="modal-title w-100"
                    style="font-size: 50px;font-family: 'Varela Round';">
                    View Attach Service detail
                </h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">

                <div class="form-group">
                    <label for="attachServiceId">Attach Service Id:</label>
                    <input type="text" class="form-control" id="attachServiceId" readonly>
                </div>

                <div class="form-group">
                    <label for="attachServiceCost">Attach Service Cost:</label>
                    <input type="text" class="form-control" id="attachServiceCost" readonly>
                </div>

                <div class="form-group">
                    <label for="attachServiceName">Attach Service Name:</label>
                    <input type="text" class="form-control" id="attachServiceName" readonly>
                </div>

                <div class="form-group">
                    <label for="attachServiceStatus">Attach Service Status:</label>
                    <input type="text" class="form-control" id="attachServiceStatus" readonly>
                </div>

                <div class="form-group">
                    <label for="attachServiceUnit">Attach Service Unit:</label>
                    <input type="text" class="form-control" id="attachServiceUnit" readonly>
                </div>

                <input type="hidden" id="messageSuccess" name="messageUpdate">
                <div class="text-center">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        Close
                    </button>
                </div>
                <br>
                <h1 id="w3s" class="text-warning" style="text-align: center; font-family: cursive;">
                    ${message}
                </h1>

            </div>
        </div>
    </div>
</div>