<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Karma", sans-serif
        }

        .w3-bar-block .w3-bar-item {
            padding: 20px
        }

        .w3-quarter a {
            font-weight: 400;
            /*margin: 15px 0 10px 0;*/
            font-size: 24px;
            text-decoration-line: none;
        }

        .w3-quarter a:hover {
            color: #6868d9;
        }
    </style>
</head>
<body>
<!--Header-->
<div th:replace="~{/views/common::header}"></div>

<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <p>
        <a th:href="@{/post}">
            Back to post list
        </a>
    </p>
    <form th:action="@{/post/update}" th:object="${post}" method="post">
        <input type="hidden" th:field="*{postId}">
        <label>Title</label><br>
        <input th:field="*{postTitle}" style="width: 100%;"/><br><br>
        <label>Intro</label><br>
        <input th:field="*{postIntro}" style="width: 100%;"/><br><br>
        <label>Content</label><br>
        <textarea type="text" th:field="*{postContent}" rows="20" style="width: 100%;"></textarea><br><br>
        <label>Thumbnail Source</label><br>
        <img th:src="${post.postThumbnailSource}" alt="" style="width: 100%;"><br><br>
        <!--        <input type="text" th:src="*{postThumbnailSource}" style="width: 100%;"/><br><br>-->
        <label>Date Modified</label><br>
        <input type="date" th:field="*{postDateModified}" style="width: 100%;"/><br><br>
        <label>Author</label><br>
        <select th:field="*{author}">
            <option th:each="author : ${authorList}" th:value="${author.authorId}" th:text="${author.authorName}"></option>
        </select><br><br>
        <button style="position: relative;left: 41%;font-size: 30px;width: 200px;">Update</button>
    </form>
    <!-- Footer -->
    <div th:replace="~{/views/common::footer}"></div>
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>
</body>
</html>