<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">

    <script>

        $(document).ready(function () {
            // // Activate tooltip
            // $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
    </script>
</head>

<body>
<div class="container-fluid px-5">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">

                    <!--                    BACK TO HOMEPAGE-->
                    <div class="col-sm-4 d-flex">
                        <button type="button" class="btn btn-success">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path
                                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
                            </svg>
                            <a href="/" style="color: white">
                                Back to <b>HomePage</b>
                            </a>
                        </button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <h2>Manage <b>Contract</b></h2>
                    </div>

                    <!--                    ADD NEW CONTRACT-->
                    <div class="col-sm-4">

                        <a href="#" class="btn btn-success" id="modalActivate" type="button"
                           data-toggle="modal"
                           data-target="#createModal"><i
                                class="material-icons">&#xE147;</i>
                            <span>Add New Contract</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-filter">
                <div class="row">
                    <div class="col-sm-3">

                        <!--                        FORM SORT-->
                        <form method="get" id="sortForm" action="/contract/list" onchange="submitSortForm()">
                            <div class="filter-group">
                                <select th:name="sortOption" id="sort" class="form-control">
                                    <option value="" selected>Sort</option>
                                    <option value="startDateSort">Sort by start date</option>
                                    <option value="endDateSort">Sort by end date</option>
                                    <option value="depositSort">Sort by deposit</option>
                                    <option value="totalMoneySort">Sort by total money</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-9">

                        <!--                        FORM SEARCH-->
                        <div class="filter-group">
                            <div class="filter-group d-flex">

                                <!--                                REFRESH BUTTON-->
                                <span class="input-group-text" id="basic-addon1"
                                      style="width: fit-content;padding-bottom: 0px;">
                                      <a href="/contract/list" type="button"><svg
                                              xmlns="http://www.w3.org/2000/svg" width="16"
                                              height="16"
                                              fill="currentColor"
                                              class="bi bi-arrow-clockwise" viewBox="0 0 16 16"
                                              style="margin-bottom: 6px;">
                                          <path fill-rule="evenodd"
                                                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
                                          <path
                                                  d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
                                      </svg></a>

                                    </span>
                                <form method="get" action="/contract/list">
                                    <!--                                    <input type="hidden" name="action" value="search">-->
                                    Contract date from:
                                    <input type="date" class="form-control"
                                           aria-label="Input group example" aria-describedby="basic-addon1"
                                           name="contractStartDateOptional">
                                    To:
                                    <input type="date" class="form-control"
                                           aria-label="Input group example" aria-describedby="basic-addon1"
                                           name="contractEndDateOptional">
                                    <input type="text" class="form-control" placeholder="Search by total money from..."
                                           aria-label="Input group example" aria-describedby="basic-addon1"
                                           name="contractTotalMoneyOptional">
                                    <button type="submit" class="btn btn-primary" style="margin-left: 10px;"><i
                                            class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Contract Start Date</th>
                    <th>Contract End Date</th>
                    <th>Contract Deposit</th>
                    <th>Contract Total Money</th>
                    <th>Employee Id</th>
                    <th>Customer Id</th>
                    <th>Service Id</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contract : ${contractList}">

                    <td th:text="${contract.contractId}"></td>
                    <td th:text="${contract.contractStartDate}"></td>
                    <td th:text="${contract.contractEndDate}"></td>
                    <td th:text="${contract.contractDeposit}"></td>
                    <td th:text="${contract.contractTotalMoney}"></td>
                    <td th:text="${contract.employee.employeeId}"></td>
                    <td th:text="${contract.customer.customerId}"></td>
                    <td th:text="${contract.services.serviceId}"></td>
                    <td>
                        <button class="btn btn-success" type="button"
                                data-toggle="modal"
                                data-target="#detailModal"
                                th:onclick="'javascript:sendIdDetail(' + ${contract.contractId} + ')'">
                            <span>Detail</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr/>
            <ul class="nav nav-pills">
                <a th:if="${contractList.hasPrevious()}"
                   th:href="@{/contract/list(page=${contractList.number - 1}, contractTotalMoneyOptional=${contractTotalMoney},contractStartDateOptional=${contractStartDate},contractEndDateOptional=${contractEndDate},sortOption=${sortOption})}"
                   class="page-link">«</a>
                <li class="nav-item"
                    th:each="index : ${#numbers.sequence(1, contractList.totalPages)}">
                    <a th:text="${index}"
                       class="nav-link"
                       th:href="@{/contract/list(page=${index - 1}, contractTotalMoneyOptional=${contractTotalMoney},contractStartDateOptional=${contractStartDate},contractEndDateOptional=${contractEndDate},sortOption=${sortOption})}"
                       th:classappend="(${currentPage} == ${index - 1}) ? 'active':'' "
                    ></a>
                </li>
                <a th:if="${contractList.hasNext()}"
                   th:href="@{/contract/list(page=${contractList.number + 1}, contractTotalMoneyOptional=${contractTotalMoney},contractStartDateOptional=${contractStartDate},contractEndDateOptional=${contractEndDate},sortOption=${sortOption})}"
                   class="page-link">»</a>
            </ul>
        </div>
    </div>
</div>

<p id="msg"></p>

<div th:replace="~{/views/contract/modal_contract.html :: modal-create}"></div>
<div th:replace="~{/views/contract/modal_contract.html :: modal-detail}"></div>

</body>

<script>

    let idDetail = 0;

    function sendIdDetail(id) {
        idDetail = id;
        console.log(idDetail);
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET", //GET, DELETE, PUT...
            url: "http://localhost:8080/contractRestful/detail/" + idDetail,
            success: function (resultSuccess) {
                let contract = resultSuccess.data;
                console.log(contract);

                $('#contractId').val(contract.contractId);

                $('#contractStartDate').val(contract.contractStartDate);

                $('#contractEndDate').val(contract.contractEndDate);

                $('#contractDeposit').val(contract.contractDeposit);

                $('#contractTotalMoney').val(contract.contractTotalMoney);

                $('#employeeId').val(contract.employeeId + ' - ' + contract.employeeName);

                $('#customerId').val(contract.customerCode + ' - ' + contract.customerName);

                $('#serviceId').val(contract.serviceCode + ' - ' + contract.serviceName);
            },
            error: function (resultError) {
                alert("Not found")
            }
        });
    }

    function submitSortForm() {
        document.getElementById("sortForm").submit();
    }

    $(document).ready(function () {

        // CREATE MODAL
        $('#btn-create').click(function () {

            let contractStartDate = $('#contractStartDateCreate').val();

            let contractEndDate = $('#contractEndDateCreate').val();

            let contractDeposit = $('#contractDepositCreate').val();

            let contractTotalMoney = $('#contractTotalMoneyCreate').val();

            let employeeId = $('#employeeCreate').val();

            let customerId = $('#customerCreate').val();

            let serviceId = $('#servicesCreate').val();


            let contractObj = {
                contractStartDate: contractStartDate,
                contractEndDate: contractEndDate,
                contractDeposit: contractDeposit,
                contractTotalMoney: contractTotalMoney,
                employee: {
                    employeeId: employeeId
                },
                customer: {
                    customerId: customerId
                },
                services: {
                    serviceId: serviceId
                }
            }
            console.log(contractObj);

            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST", //GET, DELETE, PUT...
                url: "http://localhost:8080/contractRestful/create",
                data: JSON.stringify(contractObj),
                success: function (resultSuccess) {
                    $('#createForm').submit();
                    $('#msg').text('Create successfully!');
                    $('#createModal').modal('hide');
                },
                error: function (resultError) {
                    console.log(resultError.responseJSON.errorMap);
                    let contractStartDateError = "";
                    let contractEndDateError = "";
                    let contractDepositError = "";
                    let contractTotalMoneyError = "";

                    if (resultError.responseJSON.errorMap.contractStartDate) {
                        contractStartDateError = resultError.responseJSON.errorMap.contractStartDate;
                    }

                    if (resultError.responseJSON.errorMap.contractEndDate) {
                        contractEndDateError = resultError.responseJSON.errorMap.contractEndDate;
                    }
                    if (resultError.responseJSON.errorMap.contractDeposit) {
                        contractDepositError = resultError.responseJSON.errorMap.contractDeposit;
                    }
                    if (resultError.responseJSON.errorMap.contractTotalMoney) {
                        contractTotalMoneyError = resultError.responseJSON.errorMap.contractTotalMoney
                    }

                    $('#contractStartDateError').text(contractStartDateError);
                    $('#contractEndDateError').text(contractEndDateError);
                    $('#contractDepositError').text(contractDepositError);
                    $('#contractTotalMoneyError').text(contractTotalMoneyError);

                }
            });
        });

    });


</script>

</html>
