<!--MODAL CREATE CONTRACT-->
<div class="modal fade right" style="background: rgb(0 255 170 / 34%)" id="createModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-keyboard="false"
     data-backdrop="static" th:fragment="modal-create">
    <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
        <div class="modal-content-full-width modal-content ">
            <div class=" modal-header-full-width  modal-header text-center">
                <h5 class="modal-title w-100" id="exampleModalPreviewLabel"
                    style="font-size: 50px;font-family: 'Varela Round';">
                    Create new Contract
                </h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <form action="/contract/list" id="createForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contractStartDateCreate">Contract Start Date</label>
                                <input type="date" class="form-control" id="contractStartDateCreate">
                                <small class="form-text text-warning" id="contractStartDateError"></small>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contractEndDateCreate">Contract End Date</label>
                                <input type="date" class="form-control" id="contractEndDateCreate">
                                <small class="form-text text-warning" id="contractEndDateError"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contractDepositCreate">Contract deposit:</label>
                                <input type="text" class="form-control" id="contractDepositCreate"
                                       placeholder="Type new contract cost here">
                                <small class="form-text text-warning" id="contractDepositError"></small>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contractTotalMoneyCreate">Contract total money:</label>
                                <input type="text" class="form-control" id="contractTotalMoneyCreate"
                                       placeholder="Type new contract cost here">
                                <small class="form-text text-warning" id="contractTotalMoneyError"></small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="employeeCreate">Choose new employee:</label>
                                <select id="employeeCreate" class="form-control">
                                    <option th:each="row : ${employeeList}" th:value="${row.employeeId}"
                                            th:text="${row.employeeName}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="customerCreate">Choose new customer:</label>
                                <select id="customerCreate"
                                        class="form-control">
                                    <option th:each="row : ${customerList}" th:value="${row.customerId}"
                                            th:text="|${row.customerName} - ${row.customerCode}|">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="servicesCreate">Choose new services:</label>
                        <select id="servicesCreate"
                                class="form-control">
                            <option th:each="row : ${servicesList}" th:value="${row.serviceId}"
                                    th:text="|${row.serviceName} - ${row.serviceCode}|">
                            </option>
                        </select>
                    </div>

                    <input type="hidden" id="messageSuccess" name="messageCreate">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" style="
                              min-width: 250px;
                              color: #fcda2e;
                              background: #403838 !important;
                              margin-top: 20px;
                              border: none;"
                                id="btn-create">
                            <i class="fa fa-paper-plane"></i>
                            Send
                        </button>
                    </div>
                </form>
                <br>
                <h1 id="w3s" class="text-warning" style="text-align: center; font-family: cursive;">
                    ${messageCreate}
                </h1>
                <br>
                <a href="/" class="backHome" style="font-size: 42px;
              font-family: cursive;
              margin: 0 0 50px;
              text-align: center;"><h1>Back Home</h1></a>
            </div>
        </div>
    </div>
</div>

<!--MODAL DETAIL CONTRACT-->
<div class="modal fade right" style="background: rgb(0 255 170 / 34%)" id="detailModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true" data-keyboard="false"
     data-backdrop="static" th:fragment="modal-detail">
    <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
        <div class="modal-content-full-width modal-content ">
            <div class=" modal-header-full-width  modal-header text-center">
                <h5 class="modal-title w-100"
                    style="font-size: 50px;font-family: 'Varela Round';">
                    Detail Contract
                </h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contractId">Contract ID</label>
                            <input type="text" class="form-control" id="contractId" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contractStartDate">Contract start date</label>
                            <input type="date" class="form-control" id="contractStartDate" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contractEndDate">Contract end date</label>
                            <input type="date" class="form-control" id="contractEndDate" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contractDeposit">Contract deposit</label>
                            <input type="text" class="form-control" id="contractDeposit" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contractTotalMoney">Contract total money</label>
                            <input type="text" class="form-control" id="contractTotalMoney" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="employeeId">Employee name</label>
                            <input type="text" class="form-control" id="employeeId" readonly>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="customerId">Customer name</label>
                            <input type="text" class="form-control" id="customerId" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="serviceId">Service name</label>
                            <input type="text" class="form-control" id="serviceId" readonly>
                        </div>
                    </div>
                </div>

                <input type="hidden" id="messageSuccess" name="messageUpdate">
                <div class="text-center">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        Close
                    </button>
                </div>
                <br>
                <h1 id="w3s" class="text-warning" style="text-align: center; font-family: cursive;">
                    ${messageCreate}
                </h1>

            </div>
        </div>
    </div>
</div>