* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-modal {
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 200px);
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s;
}

.my-modal.open{
    visibility: visible;
    opacity: 1;
}
.my-modal.close{
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s;
}

.my-modal-container{
    top: 50px;
    width: 1100px;
    height: 625px;
    background: #046056;
    position: relative;
    border-radius: 5px;
}

header.my-modal-header{
    background: #28a745;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 5px;
}

.my-modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}

.my-modal-close:hover{
    opacity: 1;
    background: cadetblue;
    text-decoration: none;
}

.my-modal-body{
    margin-top: 16px;
}

label.my-modal-label{
    display: block;
    margin-bottom: 10px;
}

.my-modal-input{
    border: 1px solid #ccc ;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#confirm {
    background: #28a745;
    width: 100%;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#confirm:hover{
    opacity: 0.9;
    text-decoration: none;
}

.my-modal-row{
    display: flex;
    justify-content: space-around;
}

.my-modal-block{
    width: 40%;
}

.my-modal-selection{
    width: 100%;
    height: 38px;
    border-radius: 5px;
}

#my-modal:target{
    visibility: visible;
    opacity: 1;
}

/* .overlay-close {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.dialog:target {
    visibility: visible;
    opacity: 1;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog-body {
    max-width: 400px;
    position: relative;
    padding: 16px;
    background-color: #fff;
}

.dialog-close-btn {
    position: absolute;
    top: 2px;
    right: 6px;
    text-decoration: none;
    color: #333;
} */